.app-content-wrapper{
  position: fixed;
  left: 20%;
  width: 80%;
  height: 100%;
  overflow-y: scroll
}
.div-default{
  border: 1px solid black;
  border-radius: .3em;
  background: white;
  box-shadow: 5px 5px 5px  #a1a1a1;
  padding: .5em;
};

.create-todo-form{
  @extend .div-default;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.todo-item{
  cursor: pointer;
  margin: .3em;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.todo-description{
  margin-top: .7em;
  overflow: hidden;
  text-align: center;
}

.todo-description-done{
  @extend .todo-description;
  text-decoration: line-through;
}