{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["ie >= 10"]
      },
      "modules": "commonjs",
      "useBuiltIns": true,
      "debug": false
    }
    ], "react", "stage-0"
    ]
}
