@import "./common";

.input-default {
  transition: all $defaultTransitionTime;
  padding: 0.25em;
  border-radius: 0.25em;
  font-size: inherit;
  margin: 0.25em;
  font-family: inherit;
  box-shadow: 5px 5px 5px $neutralGrey;
  &:focus{
    box-shadow: 8px 8px 8px $neutralGrey;
  }
  &:enabled:hover{
    @extend input:focus;
  }
}

.input-label{
  padding: .5em;
  display: inline-block;
}
.input-wrapper{
  display: block;
}

.invalid-input{
  @extend .input-default;
  background: #ffecec;
}

.validate-input-container{
  display: flex;
  align-items: center;
  height: 50px;
}

.invalid-indicator-visible{
  transition:all .4s;
  height: 50px;
  transform:rotate(360deg)
}
.invalid-indicator-hidden{
  transition: all .4s;
  height: 0;
}

@mixin checkbox{
  box-shadow: 2px 2px 2px $neutralGrey;
}
input[type='checkbox']{
  @include checkbox;
}

input[type=range] #thumb{
  color:black;
}
input[type='range']{
  padding:0;
  box-shadow: 3px 3px 3px $neutralGrey;
  &:focus{
    box-shadow: 5px 5px 5px $neutralGrey;
  }
}

input[type='checkbox']:hover{
  @include checkbox
}
input[type='checkbox']:focus{
  @include checkbox
}