@import "common";

.link-default {
  transition: all $defaultTransitionTime;
  margin-right: auto;
  padding: 0.35em;
  float: right;
  border-radius: 0.35em;
  font-size: .7em;
  text-align: right;
  &:last-child{
    margin-left: auto;
  }
  font-family: inherit;;
  &:hover{
    font-size: .9em;
  }
}